html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.page {
  width: 100%;
  height: 100%;
  color: #cbd5e1;
  box-sizing: border-box;
}


.plc-demo-graph-host {
  width: 100%;
  height: 100%;
  background-color: #000000;
  background-image:
    radial-gradient(circle, rgba(137, 137, 137, 0.35) 1px, transparent 1.1px);
  background-size: 16px 16px;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.35);
  text-align: left;
}
